<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
</head>
<body>
    <form action="/posts" method="post">
        <input type="text" name="usrname" id="usrname" placeholder="Enter your username">
        <br>
        <br>
        <textarea name="content" id="content" placeholder="What you think?" rows="5" cols="35"></textarea>
        <br>
        <button type="submit">Post</button>
    </form>
    <br>
    <br>
   
</body>
</html>